$borderColor: #ced2d2;

.eventCard {
  display: flex;
  min-height: 200px;
  overflow: visible !important;
}

.eventcard__details {
  display: flex;
  flex-direction: column;

  .eventCard__details__item:not(:last-child) {
    border-bottom: 2px solid $borderColor;
  }

  .eventCard__details__item {
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .eventCard__details__text {
    font-size: 0.8rem;
  }
}

.eventCard__content {
  position: relative;
  padding: 10px 14px 0 14px;
  border-left: 2px solid $borderColor;

  .eventCard__content__description {
    position: relative;
    margin: 8px 0;

    p {
      line-height: 1.2em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  .eventCard__content__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;

    & span {
      font-size: 0.8rem !important;
      font-style: oblique;
    }

    & > div {
      margin: 5px 5px 5px 0;
    }
  }
}
.eventCard__timeChip {
  text-transform: uppercase;
  margin-right: 0 !important;
  border-radius: 0 !important;

  position: absolute;
  right: 0;
  top: 10px;
}

.eventCard__tickets {
  border-left: 2px dashed $borderColor;
  position: relative;
  text-align: center;
  padding: 1% 1%;

  &:before {
    z-index: 1;
    content: "";
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
  }

  &:after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: -10px;
  }

  .eventCard__tickets__price {
    font: 1.8rem arial, sans-serif;
  }

  .eventCard__tickets__per {
    font: 0.8rem arial, sans-serif;
  }

  .eventCard__tickets__button {
    margin-top: 15px;
  }
}
