.home__paralax {
  position: relative;
  height: 320px;
  display: flex;
  justify-content: center;
}

.home__paralax {
  .react-parallax-bgimage {
    filter: blur(3px) grayscale(50%);
  }
}

.home__eventFilterContainer {
  position: absolute;
}
